@import './variables.scss';

@media screen and (min-width: $breakpoint-md-min) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width-sm;
    margin-top: 0;
    padding: .75rem .75rem 0 .75rem;
    background-color: $sidebar-bgcolor;
    box-shadow: 2px 0 12px 0 rgba(0,0,0,0.10);
    border-radius: 0;
    z-index: 3;
  }
  .sidebar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
      display: none;
    }
    img {
      width: 8rem;
    }
  }
  .mobile-header, .pullbar {
    display: none;
  }
  .reported-cases {
    flex-direction: column;
    align-items: flex-start;
    margin: .5rem 0;
    padding: .5rem 1rem .75rem 1rem;
  }
  .reported-cases-subtext {
    margin-left: 0;
  }
  #total-cases {
    width: 100%;
    margin-bottom: .4rem;
    font-size: 1.3rem;
  }
  .reported-cases-label {
    margin-bottom: .1rem;
    font-size: .7rem;
  }
  #location-list {
    button {
      font-size: .8rem;
    }
  }
  input[type=text] {
    font-size: .8rem;
  }
  .map-wrapper {
    bottom: 0;
    height: auto;
  }
  #range-slider {
    left: $sidebar-width-sm + .5rem;
    right: .5rem;
  }
  .mapboxgl-ctrl-bottom-left {
    margin-left: $sidebar-width-sm + .5rem;
  }
  .credit {
    left: $sidebar-width-sm + 1rem;
  }
}

@media screen and (min-width: $breakpoint-lg-min) {
  .page-wrapper {
    display: flex;
    height: 100vh;
  }
  .sidebar {
    width: $sidebar-width;
    padding: 1.25rem 1.25rem 0 1.25rem;
    li {
      margin-top: .8rem;
      margin-bottom: .8rem;
    }
  }
  .sidebar-header {
    h1 {
      display: block;
      flex: 1;
      font-size: 1.4rem;
    }
    img {
      width: 9rem;
    }
  }
  .reported-cases {
    padding: .5rem 1.25rem 1.25rem 1.25rem;
  }
  #total-cases {
    font-size: 2rem;
  }
  .reported-cases-label {
    font-size: .9rem;
  }
  #location-list {
    button {
      font-size: .9rem;
    }
  }
  input[type=text] {
    font-size: .9rem;
  }
  .location-filter-wrapper {
    padding: 1rem 0;
  }
  #range-slider {
    left: $sidebar-width + 1rem;
    right: 1rem;
  }
  #spread {
    padding: .2rem .5rem;
  }
  .mapboxgl-ctrl-bottom-left {
    margin-left: $sidebar-width + 1rem;
  }
  #legend {
    top: 1rem;
    right: 1rem;
    border-radius: $box-corner;
  }
  .legend-header {
    font-size: .8rem;
  }
  .credit {
    left: $sidebar-width + 1rem;
  }
  .credit-text {
    display: inline;
  }
}

// smaller mobile devices
@media
screen and (max-height: $breakpoint-landscape-sm-max) and (orientation: landscape),
screen and (max-height: $breakpoint-portrait-sm-max) and (orientation: portrait) {
  .mapboxgl-ctrl-top-right, .credit-text {
    display: none;
  }
}

@media only screen and (min-width: $breakpoint-portrait-md-min) and (min-height: $breakpoint-landscape-md-min) {
  #modal {
    top: 50%;
    left: 50%;
    bottom: auto;
    width: 40rem;
    margin-top: -3rem;
    max-height: calc(100vh - 6rem);
    transform: translate(-50%, -50%);
    border-radius: .3rem;
    opacity: 0;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 400ms ease;
  }
}

@media only screen and (min-width: $breakpoint-portrait-md-min) {
  .modal-title {
    padding-left: 3rem;
    font-size: 1.8rem;
  }
  .modal-body {
    padding: 1.5rem 5rem 1.5rem 3rem;
    font-size: .9rem;
  }
  .modal-body h2 {
    font-size: 1.5rem;
  }
}
