@import './variables.scss';


@media screen and (max-width: $breakpoint-sm-max) {
  @include reportedCasesSm;
  .sidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: $mobile-map-height;
    padding-top: .6rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    background-color: $sidebar-bgcolor-mobile;
    box-shadow: 0 -10px 12px -9px rgba(0,0,0,0.10);
    z-index: 3;
    overflow: hidden;
  }
  .sidebar-header {
    display: none;
  }
  .map-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: $mobile-map-height;
  }
  #map {
    position: absolute;
    top: 0;
    left: 0;
    height: $mobile-map-height;
  }
}

@media screen and (min-width: $breakpoint-xl-min) {
  @include reportedCasesLg;
  .page-wrapper {
    display: flex;
    height: 100vh;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    height: 100vh;
    background-color: $sidebar-bgcolor;
    box-shadow: 2px 0 12px 0 rgba(0,0,0,0.10);
    z-index: 3;
  }
  .mobile-header {
    display: none;
  }
  .pullbar {
    display: none;
  }
  .map-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #map {
    position: relative;
    height: 100%;
    box-shadow: inset 6px 0 8px -6px rgba(0,0,0,0.30);
  }
  .range-slider {
    left: $sidebar-width + 1rem;
  }


}

// switch to mini legend on small screens
@media
screen and (max-width: $breakpoint-legend-style-max-landscape) and (orientation: landscape),
screen and (max-width: $breakpoint-legend-style-max-portrait) and (orientation: portrait) {
  .legend {
    ul {
      li {
        width: 3.5rem;
      }
      .circle {
        width: 10px !important;
      }
    }
  }
  .mapboxgl-ctrl-top-right {
    top: auto !important;
    bottom: 6rem !important;
    .mapboxgl-ctrl {
      margin-right: 1rem !important;
    }
  }
}


// switch from mini legend to expanded legend
@media
screen and (min-width: $breakpoint-legend-style-min-landscape) and (orientation: landscape),
screen and (min-width: $breakpoint-legend-style-min-portrait) and (orientation: portrait) {
  .legend {
    top: auto;
    bottom: 6rem;
    right: 1rem;
    width: 11rem;
    height: 11.5rem;
    padding: 1rem 0;
    border-radius: .2rem;
    background-color: rgba(70,70,70,.8);
    ul {
      li {
        left: 1rem;
        right: 1rem;
        bottom: 3.5rem;
      }
      .circle {
        @include legendCircleLg;
      }
      .label {
        @include legendLabelLg;
      }
      .label-val {
        @include legendLabelValLg;
      }
    }
  }
  .legend-header {
    text-align: center;
    font-size: .8rem;
  }
  .new-cases {
    height: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1.5rem;
    width: auto;
    .circle {
      @include legendCircleLg;
      width: 16px !important;
      height: 16px !important;
    }
    .label {
      @include legendLabelLg;
      top: 8px;
    }
    .label-val {
      @include legendLabelValLg;
      margin-top: -.5em;
    }
  }
}

@media screen and (max-width: $breakpoint-legend-style-max-landscape) and (orientation: landscape) {
//@media screen and (max-width: $breakpoint-sm-max-landscape) and (orientation: landscape) {
  @include reportedCasesMd;
  .sidebar {
    width: $sidebar-width-sm;
    padding: .5rem;
    img {
      width: 8rem;
    }
    h1 {
      display: none;
    }
    .location-list {
      li {
        margin: .4rem 0;
      }
      button {
        padding: .5rem .75rem;
        font-size: .8rem;
      }
    }
  }
  .range-slider {
    left: $sidebar-width-sm + 1rem;
  }
}


//
// #toggle-modal span {
//   display: none;
// }


// @media only screen and (min-width: 475px) {
//
//   .page-title {
//     display: block;
//   }
//
// }
//
//
// @media only screen and (min-width: 500px) and (max-height: 320px) {
//
//   #toggle-modal {
//     left: auto;
//     right: .5rem;
//     transform: none;
//     bottom: 4rem;
//   }
//
//   .range-slider {
//     right: auto;
//     width: 75%;
//     bottom: 4rem;
//   }
//
// }
//
// @media only screen and (min-width: 500px) and (min-height: 321px) and (max-height: 414px) {
//
//   h1 span {
//     display: inline;
//   }
//
//   #toggle-modal {
//     right: .5rem;
//     bottom: 6.5rem;
//   }
//
//   #toggle-modal span {
//     display: inline;
//   }
//
//   #spread {
//     padding: .2rem .75rem .2rem .5rem;
//   }
//
//   #spread img {
//     margin-right: .25rem;
//   }
//
//   #spread .spread-label {
//     display: inline;
//   }
//
//   .range-slider {
//     width: auto;
//     left: .5rem;
//     right: .5rem;
//     bottom: 4rem;
//   }
//
//   .range-slider label {
//     font-size: .8rem;
//   }
//
// }
//
// @media only screen and (min-width: 700px) and (min-height: 415px) {
//
//   .modal {
//     top: 50%;
//     left: 50%;
//     bottom: auto;
//     width: 40rem;
//     margin-top: -3rem;
//     max-height: calc(100vh - 6rem);
//     transform: translate(-50%, -50%);
//     border-radius: .3rem;
//     opacity: 0;
//     -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
//     -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
//     box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
//     -webkit-transition: all 400ms ease;
//     -moz-transition: all 400ms ease;
//     -o-transition: all 400ms ease;
//     -ms-transition: all 400ms ease;
//     transition: all 400ms ease;
//   }
//
// }
//
// @media only screen and (min-width: 700px) {
//
//   h1 span {
//     display: inline;
//   }
//
//   .hm-logo-header {
//     width: 12rem;
//   }
//
//   .legend {
//     right: 1rem;
//   }
//
//   .modal-title {
//     padding-left: 3rem;
//     font-size: 1.8rem;
//   }
//
//   .modal-body {
//     padding: 1.5rem 5rem 1.5rem 3rem;
//     font-size: .9rem;
//   }
//
//   .modal-body h2 {
//     font-size: 1.5rem;
//   }
//
//   #spread {
//     padding: .2rem .75rem .2rem .5rem;
//   }
//
//   #spread img {
//     margin-right: .25rem;
//   }
//
//   #spread .spread-label {
//     display: inline;
//   }
//
// }
//
// @media only screen and (max-width: 849px) {
//
//   .legend ul li {
//     width: 3.5rem;
//   }
//
//   .legend ul .circle {
//     width: 10px !important;
//   }
//
// }
//
//
@media only screen and (min-width: 850px) {

  // #toggle-modal {
  //   position: relative;
  //   bottom: auto;
  //   left: auto;
  //   right: auto;
  //   margin-right: 2rem;
  // }

  // .range-slider {
  //   left: $sidebar-width + .25rem;
  //   //left: 1rem;
  //   right: 1rem;
  //   bottom: 6.5rem;
  //   padding: .5rem 1rem;
  // }

}
//
//
// @media only screen and (min-width: 1000px) {
//
//   #toggle-modal {
//     font-size: .8rem;
//     padding: .5rem .75rem;
//   }
//
//   // .reported-cases {
//   //   padding: 0 2.2rem;
//   // }
//
//   .reported-cases-num {
//     font-size: 2.3rem;
//     padding-right: 1rem;
//   }
//
//   .reported-cases-label {
//     font-size: .9rem;
//     font-weight: bold;
//   }
//
//   .last-updated-date {
//     display: inline;
//     font-size: .9rem;
//     font-weight: normal;
//   }
//
//   .range-slider label span {
//     font-size: 1rem;
//   }
//
// }


@media screen and (min-width: $breakpoint-xl-min) {
  .mapboxgl-ctrl-bottom-left {
    margin-left: $sidebar-width + 1rem;
  }
}
