// variables

$font-family: 'Open Sans', helvetica, sans-serif;

$sidebar-width: 20rem;
$sidebar-width-sm: 14rem;

$sidebar-bgcolor: rgba(48,48,48,.85);
$sidebar-bgcolor-mobile: rgba(59,59,59,.85);

$body-bgcolor: #242424;

$text-color-light: #fff;
$text-color-dark: #333;

$box-corner: .2rem;

$mobile-map-height: 70vh;

$legend-group-10: #67009E;
$legend-group-100: #921694;
$legend-group-500: #D34d60;
$legend-group-2000: #FB9533;
$legend-group-default: #EDF91C;

$breakpoint-portrait-sm-max: 568px;
$breakpoint-portrait-md-min: $breakpoint-portrait-sm-max + 1px;
$breakpoint-landscape-sm-max: 414px;
$breakpoint-landscape-md-min: $breakpoint-landscape-sm-max + 1px;
$breakpoint-md-min: 500px;
$breakpoint-md-max: 899px;
$breakpoint-lg-min: $breakpoint-md-max + 1px;
