*, *::before, *::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-webkit-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: 'OpenSans', sans-serif;
  line-height: 1.4;
  color: #fff;
  background-color: #242424; }

a, a:visited {
  color: #666;
  transition: all .3s ease; }

a:focus, a:hover, a:active {
  color: #999; }

button {
  font-family: "Open Sans", helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  transition: all .3s ease; }

button:hover, button:focus, button.focus {
  background-image: none;
  outline: 0;
  text-decoration: none; }

button:active, button.is-active {
  background-image: none;
  outline: 0; }

input[type=text] {
  width: 100%;
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: .9rem;
  color: #ccc;
  background-color: rgba(48, 48, 48, 0.85);
  border-radius: .2rem;
  border: 1px solid #666; }

input[type=text]::-ms-expand {
  background-color: transparent;
  border: 0; }

input[type=text]::placeholder {
  color: #ababab;
  opacity: 1; }

input[type=text]:focus::-webkit-input-placeholder {
  color: transparent; }

input[type=text]:focus::-moz-input-placeholder {
  color: transparent; }

input[type=text]:focus::placeholder {
  color: transparent; }

h1 {
  margin: 0 0 0 .6rem;
  padding-left: .6rem;
  font-weight: 200;
  color: #ececec;
  border-left: 1px solid #ccc; }

.page-wrapper {
  width: 100vw; }

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: #333;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem); }

.sidebar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.sidebar-header h1 {
  flex: 1;
  font-size: 1.4rem; }

.sidebar-header img {
  width: 9rem; }

.mobile-header {
  position: fixed;
  top: .8rem;
  left: .8rem;
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.mobile-header img {
  width: 8rem; }

.mobile-header h1 {
  font-size: 1.1rem;
  display: none; }

.pullbar {
  position: relative;
  left: 50%;
  width: 5rem;
  height: .3rem;
  margin-bottom: .75rem;
  background-color: #C4C4C4;
  border-radius: .5rem;
  transform: translateX(-50%); }

.reported-cases {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  border-radius: .3rem;
  transition: all .3s ease;
  cursor: pointer; }

.reported-cases:focus, .reported-cases:hover, .reported-cases:active, .reported-cases.is-active {
  background-color: #454545; }

.reported-cases-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600; }

.reported-cases-label {
  font-weight: 200;
  line-height: 1; }

.last-updated-date {
  display: block;
  font-size: .7rem;
  font-style: italic;
  color: #ccc; }

.location-filter-wrapper {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #666; }

.clear-filter {
  display: none;
  position: absolute;
  top: 50%;
  right: .75rem;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
  transition: all .3s ease; }

.clear-filter:hover, .clear-filter:focus {
  transform: translateY(-50%) rotate(-90deg); }

.clear-filter.is-visible {
  display: flex; }

.location-list {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0; }

.location-list li {
  width: 100%;
  margin: .8rem 0; }

.location-list li.is-hidden {
  display: none; }

.location-list button {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: .75rem 1.25rem;
  width: 100%;
  font-size: .9rem;
  color: #ccc;
  background-color: #333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: .2rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  transition: all .3s ease;
  cursor: pointer; }

.location-list button:focus, .location-list button:hover, .location-list button:active, .location-list button.is-active {
  background-color: #454545; }

.location-list button.is-active {
  border-color: #67009E; }

.location-list .num {
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: normal;
  color: #ccc; }

.location-list .num:after {
  content: '';
  display: block;
  width: .5rem;
  height: .5rem;
  margin-left: .65rem;
  border-radius: 50%;
  border: 1px solid; }

.location-list .num.legend-group-10:after {
  background-color: #67009E;
  border-color: #560085; }

.location-list .num.legend-group-100:after {
  background-color: #921694;
  border-color: #7c137e; }

.location-list .num.legend-group-500:after {
  background-color: #D34d60;
  border-color: #ce394e; }

.location-list .num.legend-group-2000:after {
  background-color: #FB9533;
  border-color: #fb881a; }

.location-list .num.legend-group-default:after {
  background-color: #dfeb06;
  border-color: #d1dc06; }

.map-wrapper {
  width: 100%; }

#map {
  width: 100%;
  z-index: 1; }

.legend {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 6em;
  height: 9rem;
  z-index: 4; }

.legend ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.legend ul li {
  position: absolute;
  right: 0;
  bottom: 2rem;
  display: flex;
  flex-direction: row-reverse; }

.legend ul .circle {
  display: block;
  opacity: .85; }

.legend ul .label {
  position: absolute;
  top: 0;
  display: flex; }

.legend ul .label:after {
  content: '';
  display: block;
  width: 20px;
  height: 0;
  border-top: 1px dotted #fff; }

.legend ul .label-val {
  margin-top: -.7em;
  margin-right: .3rem;
  font-size: .7rem;
  line-height: 1;
  color: #fff; }

.legend-header {
  width: 100%;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right; }

.new-cases {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  display: flex;
  flex-direction: row-reverse;
  font-size: .7rem; }

.new-cases .circle {
  display: block;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  opacity: .85; }

.new-cases .label {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  line-height: 1; }

.new-cases .label:after {
  content: '';
  display: block;
  width: 8px;
  height: 0;
  margin-right: .8rem;
  border-top: 1px dotted #fff; }

.new-cases .label-val {
  margin-right: .3rem;
  font-size: .65rem;
  line-height: 1;
  color: #fff; }

.mapboxgl-popup {
  max-width: 400px;
  color: #222; }

.map-container {
  position: absolute;
  top: 0;
  bottom: 0rem;
  padding-top: 3rem;
  width: 100%; }

.credit {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 2.5rem;
  height: 3rem;
  padding: .4rem .5rem;
  color: #cccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  z-index: 8; }

.credit span {
  line-height: 1.3;
  text-align: center; }

.credit a {
  margin-left: .5rem; }

.credit a:link, .credit a:visited {
  color: #ccc;
  transition: all .3s ease; }

.credit a:focus, .credit a:hover, .credit a:active {
  color: #999; }

/* modal */
.modal-wrapper {
  display: none;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  z-index: 15; }

.modal-wrapper.is-block {
  display: block; }

.modal-wrapper.is-visible {
  opacity: 1; }

.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 17;
  user-select: none; }

.modal.is-flex {
  display: flex; }

.modal.is-visible {
  opacity: 1;
  margin-top: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 16; }

.modal-header {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  border-bottom: 1px solid #dedede; }

.modal-title {
  flex: 1;
  color: #333;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 200; }

.modal-title strong {
  font-weight: 600;
  user-select: none; }

.modal-cancel {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.modal-body {
  position: relative;
  flex: 1;
  width: 100%;
  min-height: 10rem;
  padding: 1.5rem 1rem;
  font-size: .8rem;
  line-height: 1.6;
  color: #454545;
  overflow: auto; }

.modal-body h2 {
  margin: 1.25rem 0 .75rem 0;
  font-size: 1.3rem;
  font-weight: 200;
  color: #921694; }

.modal-body ul {
  margin: 1rem 0 1.25rem 1rem;
  padding: 0; }

.modal-body li {
  margin: 0 0 .8rem;
  padding: 0; }

.modal-body p {
  margin: 1rem 0 1.25rem 0; }

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.logos img {
  display: block;
  margin: 1rem 0;
  flex: none; }

.oxford-logo {
  width: 60px; }

.hm-logo {
  width: 185px; }

.hms-logo {
  width: 120px; }

.bch-logo {
  width: 110px; }

.netsi-logo {
  width: 200px; }

.oxford-martin-logo {
  width: 80px; }

.tsinghua-logo {
  width: 60px; }

.ihme-logo {
  width: 100px; }

#toggle-modal {
  position: fixed;
  right: .5rem;
  bottom: 8.5rem; }

.map-type-toggle {
  list-style: none;
  position: absolute;
  top: auto;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 5; }

.map-type-toggle button {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: .2rem 1rem;
  font-size: .8rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background-color: #242424;
  border: 1px solid #787878;
  border-radius: 0; }

.map-type-toggle button:hover, .map-type-toggle button:focus, .map-type-toggle button.focus {
  background-color: #454545; }

.map-type-toggle button:active, .map-type-toggle button.is-active {
  background-color: #66cc66;
  border-color: #66cc66; }

.map-type-toggle button:first-child {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem; }

.map-type-toggle button:last-child {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  border-left: 0; }

/* range slider */
#spread {
  display: flex;
  align-items: center;
  padding: .2rem;
  color: #fff;
  font-size: .7rem;
  text-transform: uppercase;
  background-color: #66cc66;
  border-radius: .3rem;
  transition: all .3s ease;
  cursor: pointer; }

#spread .spread-label {
  display: none; }

#spread:hover {
  background-color: #44aa44; }

.range-slider {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 3rem;
  padding: .25rem .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: .8rem;
  color: #fff;
  line-height: 1;
  border-radius: .2rem;
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 3; }

.range-slider label {
  display: flex;
  align-items: baseline;
  font-size: .7rem;
  color: #dedede;
  line-height: 1rem;
  text-transform: uppercase;
  min-width: 7rem; }

.range-slider label span {
  display: inline-block;
  flex: 1;
  margin-left: .3rem;
  font-weight: 600;
  color: #fff; }

input[type=range] {
  flex: 1;
  margin: 0 .5rem;
  background: transparent;
  -webkit-appearance: none;
  cursor: ew-resize; }

input[type=range]:focus {
  outline: none; }

/* webkit */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: .1rem;
  cursor: ew-resize;
  animate: 0.2s;
  background: #fff;
  border-radius: 50%; }

input[type=range]::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  border: 0;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  cursor: ew-resize;
  margin-top: -.5rem;
  -webkit-appearance: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff; }

/* moz */
input[type=range]::-moz-range-track {
  width: 100%;
  height: .1rem;
  cursor: ew-resize;
  animate: 0.2s;
  background: #fff;
  border-radius: 50%; }

input[type=range]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  border: 0;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  cursor: ew-resize;
  margin-top: -.55; }

/* ie */
input[type=range]::-ms-track {
  width: 100%;
  height: .1rem;
  cursor: ew-resize;
  animate: 0.2s;
  background: #fff;
  border-radius: 50%; }

input[type=range]::-ms-fill-lower {
  background: #fff;
  border-radius: 50%; }

input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 50%; }

input[type=range]::-ms-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  border: 0;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  cursor: ew-resize;
  margin-top: 0; }

input[type=range]::-ms-tooltip {
  display: none; }

@media screen and (max-width: 499px) {
  .reported-cases {
    align-items: center;
    padding: .25rem 0 .75rem 0; }
  .reported-cases-subtext {
    margin-left: 1rem; }
  .reported-cases-num {
    margin: .5rem 0 .4rem 0;
    font-size: 1.6rem; }
  .reported-cases-label {
    font-size: .8rem; }
  .sidebar {
    position: relative;
    width: 100%;
    margin-top: 70vh;
    padding-top: .6rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    background-color: rgba(59, 59, 59, 0.85);
    box-shadow: 0 -10px 12px -9px rgba(0, 0, 0, 0.1);
    z-index: 3; }
  .sidebar-header {
    display: none; }
  .map-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 70vh; }
  #map {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh; } }

@media screen and (min-width: 500px) {
  .reported-cases {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    padding: .75rem 1.25rem 1.5rem 1.25rem; }
  .reported-cases-num {
    width: 100%;
    margin: 0 0 .4rem 0;
    font-size: 2rem; }
  .reported-cases-label {
    margin-bottom: .3rem;
    font-size: .9rem; }
  .page-wrapper {
    display: flex;
    height: 100vh; }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.85);
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 3; }
  .mobile-header {
    display: none; }
  .map-type-toggle {
    top: .5rem;
    bottom: auto;
    transform: translateX(50%); }
  .pullbar {
    display: none; }
  .location-list {
    overflow: auto; }
  .map-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #map {
    position: relative;
    height: 100%;
    box-shadow: inset 6px 0 8px -6px rgba(0, 0, 0, 0.3); }
  .range-slider {
    left: 21rem; } }

@media screen and (max-width: 823px) and (orientation: landscape), screen and (max-width: 414px) and (orientation: portrait) {
  .legend ul li {
    width: 3.5rem; }
  .legend ul .circle {
    width: 10px !important; }
  .mapboxgl-ctrl-top-right {
    top: auto !important;
    bottom: 6rem !important; }
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin-right: 1rem !important; } }

@media screen and (min-width: 824px) and (orientation: landscape), screen and (min-width: 415px) and (orientation: portrait) {
  .legend {
    top: auto;
    bottom: 6rem;
    right: 1rem;
    width: 11rem;
    height: 11.5rem;
    padding: 1rem 0;
    border-radius: .2rem;
    background-color: rgba(70, 70, 70, 0.8); }
  .legend ul li {
    left: 1rem;
    right: 1rem;
    bottom: 3.5rem; }
  .legend ul .circle {
    position: absolute;
    right: 3rem;
    bottom: 0;
    transform: translateX(50%);
    border-radius: 50%; }
  .legend ul .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
  .legend ul .label:after {
    content: '';
    display: block;
    flex: 1;
    height: 0;
    border-top: 1px dotted #fff; }
  .legend ul .label-val {
    margin-right: .5rem;
    text-align: right;
    width: 2rem; }
  .legend-header {
    text-align: center;
    font-size: .8rem; }
  .new-cases {
    height: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1.5rem;
    width: auto; }
  .new-cases .circle {
    position: absolute;
    right: 3rem;
    bottom: 0;
    transform: translateX(50%);
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important; }
  .new-cases .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    top: 8px; }
  .new-cases .label:after {
    content: '';
    display: block;
    flex: 1;
    height: 0;
    border-top: 1px dotted #fff; }
  .new-cases .label-val {
    margin-right: .5rem;
    text-align: right;
    width: 2rem;
    margin-top: -.5em; } }

@media screen and (max-width: 823px) and (orientation: landscape) {
  .reported-cases {
    padding: .25rem 0 .75rem 0; }
  .reported-cases-subtext {
    margin-left: 0; }
  .reported-cases-num {
    margin: .5rem 0 0 0;
    font-size: 1.5rem; }
  .reported-cases-label {
    font-size: .7rem;
    margin-bottom: .1rem; }
  .sidebar {
    width: 14rem;
    padding: .5rem; }
  .sidebar img {
    width: 8rem; }
  .sidebar h1 {
    display: none; }
  .sidebar .location-list li {
    margin: .4rem 0; }
  .sidebar .location-list button {
    padding: .5rem .75rem;
    font-size: .8rem; }
  .range-slider {
    left: 15rem; } }

@media screen and (min-width: 500px) {
  .mapboxgl-ctrl-bottom-left {
    margin-left: 21rem; } }
